body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

.password-generator-container {
  max-width: 400px;
  margin: 30px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.password-generator-container label {
  display: block;
  margin-bottom: 10px;
}

.password-generator-container input[type="number"],
.password-generator-container input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.password-generator-container input[type="checkbox"] {
  margin-top: 5px;
  margin-right: 5px;
}

.password-generator-container button {
  cursor: pointer;
  background-color: #0056b3;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.password-generator-container button:hover {
  background-color: #003d82;
}

.mt-20 {
  margin-top: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}